# Dependencies
node_modules

# Build output
dist
dist-electron
build
.vite

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
